body{
  background-image: url(./components/background-nyan.jpg);
}
h1, p{
  color: aliceblue;
}
#img2 {
  /* animation-direction: alternate-reverse; */
  /* bottom: 15%; */
  position: absolute;
  animation: linear infinite;
  animation-name: run;
  animation-duration: 10s;
}
@keyframes run {
  0% {
    right: 0;
  }
  48% {
    -webkit-transform: rotateY(0deg); 
  }
  50% { 
    right: calc(100% - 400px);
    -webkit-transform: rotateY(180deg); 
  }
  98% {
    -webkit-transform: rotateY(180deg); 
  }
  100% {
    right: 0;    
     -webkit-transform: rotateY(0deg);
  }
}

.cat__info-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 10rem;
  margin-bottom: 160px;
}


.random__cat{
  width: 300px;
  height: 300px;
}

